<div class="row">
    <% i = 0 %>
    <% @item_list.each do |key, value| %>
    <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src=<%= value.image %>>
                </div>
                <div class="card-content">
                    <p><%= value.description %></p>
                    <p><%= value.price %></p>
                </div>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#more<%= i %>">More Details</a></li>
                        <li class="tab"><a class="active" href="#allergy<%=i%>">Allergens</a></li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4">
                    <div id="more<%= i %>">
                        <p>Topping: <%= value.topping %></p>
                        <p>Filling: <%= value.filling %></p>
                    </div>
                    <div id="allergy<%= i %>">
                        <%= value.allergens.each { |item| print item, " " } %>
                    </div>
                </div>
            </div>
        </div>
        <% i+= 1 %>
        <% end %>
</div>
